/* Body and container setup */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* Light background color */
}

/* Login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color:  rgb(204, 235, 211);
    padding: 200px;
}

/* Form and image container */
.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: 150%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
}

.login-form {
    flex: 1;
    background-color: #66c970;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 40px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Heading style */
.login-form h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

/* Label and input field styles */
.login-form div {
    margin-bottom: 20px;
    text-align: left;
}

.login-form label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Focus and hover effect for inputs */
.login-form input:focus {
    border-color: #007BFF;
    outline: none;
}

/* Button style */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Register link styles */
.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}