.order-page {
    background-color: rgb(204, 235, 211);
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.product-details {
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details img {
    max-width: 150px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product-details h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #34495e;
    font-weight: bold;
}

.product-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: none;
    height: 100px;
}

.payment-methods label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.payment-methods input {
    margin-right: 10px;
}

form button {
    padding: 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2ecc71;
}

.qr-code-container {
    text-align: center;
    margin-top: 30px;
}

.qr-code-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.qr-code-container .qr-code {
    display: inline-block;
    margin: 0 auto;
}

.payment-methods {
    display: flex;
    flex-direction: column;
}

.payment-methods label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.payment-logo {
    width: 30px;
    height: auto;
    margin-right: 10px;
}